body {
    margin: 0;
    /* width: 100%; */
    padding: 0;
    font-size: large;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

code {
    background-color: #dfd9d9;
    padding: 0 3px 0;
    border-radius: 2px;
}

.content {
    padding: 0 20% 0;
    width: 60%;
}

.code {
    /* margin: 1rem; */
    width: 100%;
    align-items: center;
    background-color: #dfd9d9;
    padding: 1rem ;
    border-radius: 0.3rem;
    font-family: Consolas, "Helvetica Neue", Helvetica, sans-serif;
}

.footer {
    text-align: center;
    font-family: Consolas, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bolder;
    margin: 1rem auto 1rem;
}

.footer hr {
    border-top: 4px dotted #bbb;
    margin: 0 20% 0.5rem;
    border-bottom: none;
  /* border-radius: 5px; */
}

@media screen and (max-width: 600px) {
    .content {
    padding:0 ;
    width: 100%;
}
}